<div class="flex mb-4">
  <%= link_to '< Home page', vendors_home_path, class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded' %>
</div>
<div class="mt-4">
  <h1 class="text-3xl font-bold text-black mb-4">Edit Pizza</h1>

  <%= form_with(model: [:vendors, @pizza], data: { turbo: false }) do |form| %>
    <% if @pizza.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pizza.errors.count, "error") %> prohibited this pizza from being saved:</h2>

        <ul>
          <% @pizza.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field mb-4">
      <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :name, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-40 md:w-60" %>
    </div>

    <div class="field mb-4">
      <%= form.label :is_vegetarian, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.check_box :is_vegetarian %>
    </div>

    <h3 class="text-xl font-bold text-black mb-4">Pizza Sizes</h3>
    <div id="pizza-sizes">
      <% @pizza.pizza_sizes.each do |pizza_size| %>
        <%= form.fields_for :pizza_sizes, pizza_size do |pizza_size_form| %>
          <div class="nested-fields mb-4">
            <div class="field mb-4">
              <%= pizza_size_form.label :size, class: "block text-gray-700 text-sm font-bold mb-2" %>
              <%= pizza_size_form.text_field :size, value: pizza_size.size, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-40 md:w-60", disabled: true %>
              <%= pizza_size_form.hidden_field :size, value: pizza_size.size %>
              <%= pizza_size_form.label :price, class: "block text-gray-700 text-sm font-bold mb-2" %>
              <%= pizza_size_form.number_field :price, step: 0.01, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-40 md:w-60" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="flex items-center justify-between mt-4">
      <%= form.submit "Save Pizza", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
